:root {
  --primary-color: #ff8303;
  --gold-color: #ffcc47;
  --dark-black: #112031;
  --white-color: #ffffff;
  --blue-gray: #6d8299;
  --warning-color: #ff0000;
}

li {
  list-style: none;
}

.wrapper {
  margin-top: 2.25rem;
}

.notfound-container {
  display: none;
  margin: 6.25rem auto 12.5rem auto;
  text-align: center;
}

.notfound-container .notfound-image {
  max-width: 30%;
}

.notfound-container .notfound-title {
  margin-top: 0.5em;
  font-size: 2em;
  color: var(--warning-color);
}

.notfound-container .notfound-description {
  font-size: 1.25em;
  color: var(--blue-gray);
}


/* detail-outlet section */

.detail-outlet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-outlet-section .detail-outlet-name {
  font-size: 2.5em;
  color: var(--primary-color);
  letter-spacing: 0.056em;
  text-align: center;
}

.detail-outlet-section .detail-outlet-location {
  margin-bottom: 5rem;
  color: var(--blue-gray);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.detail-outlet-section .description-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1.3rem;
  max-width: 100%;
  color: var(--dark-black);
}

.description-wrapper .detail-outlet-image {
  border-radius: 0.25em;
  min-width: 55%;
}

.description-content .about-title {
  font-size: 1.6em;
  letter-spacing: 0.056em;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.description-wrapper .detail-outlet-description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 12em;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1rem;
}

.description-wrapper .detail-outlet-category {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 3.125rem;
  background-color: var(--dark-black);
}

.detail-outlet-rating {
  padding: 0.5rem 0;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 3.125rem;
  color: var(--gold-color);
}

.like-btn {
  font-size: 1.125em;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--dark-black);
  color: var(--white-color);
  border: 0;
  border-radius: 50%;
  width: 3.438rem;
  height: 3.438rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-btn img {
  max-width: 1.2rem;
}


/* Food Section */

.menu-container {
  margin-top: 1rem;
}

.menu-title {
  margin: 6.25rem 0 1rem 0;
  font-size: 2em;
  font-weight: 600;
  color: var(--dark-black);
}

.menu-wrapper {
  max-width: 30%;
  padding: 0.5rem;
  border-radius: 4px;
}

.menu-card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: inline-block;
  width: 3.3rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.menu-list {
  font-weight: 400;
}

.menu-name {
  font-size: 1em;
}

.menu-price {
  font-size: 14px;
  font-weight: 300;
  color: var(--blue-gray);
}


/* Customer Section */

.reviews {
  margin: 6.25rem 0;
}

.review-title {
  margin-bottom: 1.5rem;
  color: var(--dark-black);
  font-size: 2em;
  font-weight: 600;
}

.review-container {
  columns: 4;
  column-gap: 20px;
}

.review-card {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: auto;
  overflow: hidden;
  break-inside: avoid;
}

.review-card .desc {
  position: relative;
  background: var(--blue-gray);
  border-radius: 1.5rem;
}

.desc .review-text {
  padding: 0.9rem;
  font-size: 14px;
  color: var(--white-color);
  letter-spacing: 0.8px;
  font-weight: 300;
  line-height: 1.4rem;
}

.review-card .desc::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 1.2rem;
  min-height: 2.2rem;
  min-width: 2rem;
  z-index: -1;
  background-color: var(--blue-gray);
  clip-path: polygon(100% 0, 0 0, 51% 100%);
}

.review-card .profile {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  margin-top: 1.6rem;
  margin-left: 7px;
  padding: 0 0.3rem;
}

.profile .photo {
  max-width: 50px;
  clip-path: circle();
}

.profile .name {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--dark-black);
}

.profile .date {
  font-size: 12px;
  margin-top: 4px;
  color: var(--blue-gray);
}


/* Form */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 6.25rem;
  max-width: 50%;
}

.form-container .name-input {
  position: relative;
  width: 100%;
}

.form-container label {
  font-size: 1em;
  font-weight: 500;
}

.form-container input[type='text'],
textarea {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 0.9rem 0;
  border: 2px solid var(--dark-black);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1.125em;
  font-weight: 300;
  width: 100%;
}

#countInfo {
  visibility: hidden;
}

label.count {
  position: absolute;
  top: 53%;
  right: 0.8rem;
}

label.count,
span {
  color: #aaa492;
  font-weight: 400;
  font-size: 14px;
}

.form-container textarea {
  resize: vertical;
}

.form-container button {
  padding: 0.75rem 1.25rem;
  margin: 0.9rem 0;
  background-color: var(--dark-black);
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s all;
}

.form-container button:hover {
  transform: translateY(-3px);
  -webkit-box-shadow: 2px 7px 20px -3px rgba(17, 32, 49, 0.63);
  -moz-box-shadow: 2px 7px 20px -3px rgba(17, 32, 49, 0.63);
  box-shadow: 2px 7px 20px -3px rgba(17, 32, 49, 0.63);
}

@media (max-width: 74.938rem) {
  .review-container {
    columns: 3;
  }
  .form-container,
  .menu-title,
  .wrapper {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
  .menu-wrapper {
    max-width: 45%;
  }
  .detail-outlet-section .description-wrapper {
    flex-direction: column;
  }
  .detail-outlet-section .detail-outlet-image {
    min-width: 100%;
  }
  .description-content .about-title {
    margin-top: 1.875rem;
  }
}

@media (max-width: 50rem) {
  .menu-wrapper {
    max-width: 50%;
  }
  .review-container {
    columns: 2;
  }
  .detail-outlet-section .detail-outlet-name {
    margin-top: 6.25rem;
  }
}

@media (max-width: 43.75rem) {
  .form-container {
    max-width: 100%;
  }
  .menu-wrapper {
    max-width: 60%;
  }
  .notfound-container {
    margin-bottom: 6.25rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  .notfound-container .notfound-title {
    font-size: 1.8em;
  }
  .notfound-container .notfound-description {
    font-size: 1em;
  }
}

@media (max-width: 37rem) {
  .menu-wrapper {
    max-width: 100%;
  }
  .review-container {
    columns: 1;
  }
  .detail-outlet-section .detail-outlet-name {
    margin-top: 3rem;
    font-size: 2em;
  }
  .description-content .about-title {
    font-size: 1.3em;
  }
}