:root {
  --primary-color: #ff8303;
  --dark-black: #1b1a17;
  --white-color: #ffffff;
  --gray-color: #a8a8a8;
}

li {
  list-style: none;
}

.wrapper {
  margin: 2.25rem 0 0 0;
}


/* Restaurant section */

.restaurant-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-section .restaurant-name {
  font-size: 2.5em;
  color: var(--primary-color);
  letter-spacing: 0.9px;
  margin-bottom: 8px;
}

.restaurant-section .restaurant-location {
  margin-bottom: 5rem;
  color: var(--gray-color);
  font-size: 1em;
  font-weight: 300;
}

.restaurant-section .description-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1.3rem;
  max-width: 100%;
  color: var(--dark-black);
}

.description-wrapper .restaurant-image {
  border-radius: 4px;
  min-width: 50%;
}

.description-content .about-title {
  font-size: 1.6em;
  letter-spacing: 0.9px;
  font-weight: 700;
  margin-bottom: 12px;
}

.description-wrapper .restaurant-description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 9em;
  line-height: 1.8em;
  margin-bottom: 1rem;
}

.description-content .favorite-restaurant {
  padding: 4px 14px;
  min-height: 44px;
  min-width: 44px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: -1px 7px 34px -114px rgba(158, 158, 158, 1);
  color: var(--white-color);
  background-color: var(--primary-color);
}


/* Food Section */

.menu {
  display: flex;
}

.menu-title {
  margin-top: 100px;
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color);
}

.menu-wrapper {
  flex-direction: row;
  margin-top: 4px;
  color: var(--dark-black);
  font-size: 1.3em;
}

.menu-wrapper .menu-list {
  margin-bottom: 4px;
}


/* Customer Section */

.reviews {
  margin: 100px 0 150px 0;
}

.reviews-title {
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 700;
}

.reviews-wrapper {
  margin-top: 12px;
  color: var(--dark-black);
}

.reviews-name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.reviews-description {
  margin-bottom: 8px;
  font-size: 1em;
  font-weight: 300;
}

.reviews-date {
  display: inline-block;
  font-size: 0.9em;
  border-radius: 50px;
  font-weight: 500;
  color: var(--dark-black);
}