:root {
  --primary-color: #ff8303;
  --gold-color: #ffcc47;
  --dark-black: #1b1a17;
  --white-color: #ffffff;
  --gray-color: #a8a8a8;
  --warning-color: #ff0000;
}

li {
  list-style: none;
}

.wrapper {
  margin: 2.25rem 0 0 0;
}

.notfound-container {
  display: none;
  margin: 6.25rem auto 12.5rem auto;
  text-align: center;
}

.notfound-container .notfound-image {
  max-width: 30%;
}

.notfound-container .notfound-title {
  margin-top: 0.5em;
  font-size: 2em;
  color: var(--warning-color);
}

.notfound-container .notfound-description {
  font-size: 1.25em;
  color: var(--gray-color);
}


/* detail-outlet section */

.detail-outlet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-outlet-section .detail-outlet-name {
  font-size: 2.5em;
  color: var(--primary-color);
  letter-spacing: 0.056em;
  text-align: center;
}

.detail-outlet-section .detail-outlet-location {
  margin-bottom: 5rem;
  color: var(--gray-color);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.detail-outlet-section .description-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1.3rem;
  max-width: 100%;
  color: var(--dark-black);
}

.description-wrapper .detail-outlet-image {
  border-radius: 0.25em;
  min-width: 55%;
}

.description-content .about-title {
  font-size: 1.6em;
  letter-spacing: 0.056em;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.description-wrapper .detail-outlet-description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 12em;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1rem;
}

.description-wrapper .detail-outlet-category {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.7rem;
  font-size: 1em;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 3.125rem;
  background-color: var(--primary-color);
}

.detail-outlet-rating {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 3.125rem;
  color: var(--gold-color);
}

.like-btn {
  font-size: 1.125em;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  border-radius: 50%;
  width: 3.438rem;
  height: 3.438rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-btn img {
  max-width: 1.2rem;
}


/* Food Section */

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.menu-icon {
  display: inline-block;
  max-width: 1.875rem;
}

.menu-title {
  margin: 6.25rem 0 1rem 0;
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color);
}

.menu-list {
  color: var(--dark-black);
  font-size: 1.3em;
}


/* Customer Section */

.reviews {
  margin: 6.25rem 0;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.25rem;
}

.reviews-wrapper {
  margin-top: 0.75;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--white-color);
  box-shadow: -1px 10px 24px -11px rgba(122, 122, 122, 1);
}

.user-profile {
  max-width: 1.875rem;
}

.reviews-title {
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 700;
}

.reviews-name {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.063em;
}

.reviews-description {
  margin-bottom: 0.5rem;
  font-size: 1em;
  word-wrap: break-word;
  font-weight: 300;
}

.reviews-date {
  display: inline-block;
  font-size: 0.9em;
  border-radius: 3.125rem;
  font-weight: 500;
  color: var(--dark-black);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 6.25rem;
  max-width: 50%;
}

.form-container label {
  font-size: 1em;
  font-weight: 500;
  color: var(--primary-color);
}

.form-container input[type='text'],
textarea {
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 0.9rem 0;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1.125em;
  font-weight: 300;
  width: 100%;
  color: var(--dark-black);
}

.form-container textarea {
  resize: vertical;
}

.form-container button {
  padding: 0.75rem 1.25rem;
  margin: 0.9rem 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  color: var(--white-color);
  cursor: pointer;
}

@media (max-width: 37rem) {
  .detail-outlet-section .detail-outlet-name {
    font-size: 1.7em;
  }
  .description-content .about-title {
    font-size: 1.3em;
  }
}

@media (max-width: 43.75rem) {
  .form-container {
    max-width: 100%;
  }
  .notfound-container {
    margin-bottom: 6.25rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  .notfound-container .notfound-title {
    font-size: 1.8em;
  }
  .notfound-container .notfound-description {
    font-size: 1em;
  }
}

@media (max-width: 50rem) {
  .detail-outlet-section .detail-outlet-name {
    margin-top: 6.25rem;
  }
}

@media (max-width: 74.938rem) {
  .form-container,
  .wrapper {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
  .detail-outlet-section .description-wrapper {
    flex-direction: column;
  }
  .detail-outlet-section .detail-outlet-image {
    min-width: 100%;
  }
  .description-content .about-title {
    margin-top: 1.875rem;
  }
}