@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary-color: #ff8303;
  --dark-black: #1f1d36;
  --orange-soft: #ffc285;
  --white-color: #fff;
  --badge-color: #ff3d68;
  --gold-color: #ffcc47;
  --blue-gray: #9d9d9d;
  --border-accent: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-black);
}

html {
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
}

.pagenotfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6.25rem auto;
}

.pagenotfound-container .page-notfound {
  max-width: 30%;
}

.pagenotfound-container .home-link {
  font-size: 1.6em;
  font-weight: 500;
}

.pagenotfound-container .home-link:hover {
  color: #ffc801;
}

.pagenotfound-container p {
  font-size: 1em;
  color: var(--blue-gray);
}


/* Skip to content */

.skip-link {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem;
  z-index: 99;
}

.skip-link:focus {
  top: 0.125rem;
  left: 0.125rem;
  border: 2px solid var(--dark-black);
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
}


/* Navigation Drawer */

.navbar-wrapper {
  border-bottom: 1px solid var(--border-accent);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  max-width: 62.5rem;
  height: 3.75rem;
  margin: 0 auto;
}

.navbar .logo {
  max-width: 60%;
}

.hamburger-menu {
  position: relative;
  align-self: center;
  margin-right: 1.25rem;
  display: none;
  min-width: 2.75rem;
  min-height: 2.75rem;
}

.hamburger-menu:focus {
  border: 1px solid var(--primary-color);
}

.check {
  position: absolute;
  min-width: 2.75rem;
  min-height: 2.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.hamburger-menu span {
  display: block;
  min-width: 1.75rem;
  min-height: 0.375rem;
  background-color: var(--primary-color);
  border-radius: 3.125rem;
  transition: all 0.3s;
}


/* Drawer Menu Animation */

.hamburger-menu span:nth-child(2) {
  transform-origin: 0 0;
}

.hamburger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.hamburger-menu input:checked~span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu input:checked~span:nth-child(4) {
  transform: rotate(-45deg);
}

.hamburger-menu input:checked~span:nth-child(3) {
  opacity: 0;
  transform: translateX(-3.125rem);
}


/* Nav Item */

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.875rem;
}

.list-items {
  position: relative;
  min-height: 2.75rem;
  min-width: 2.75rem;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--dark-black);
  padding: 1rem 0;
  transition: all 0.28s;
}

.list-items.active {
  color: var(--primary-color);
}

.list-items:hover {
  color: var(--primary-color);
}

.list-items::after {
  content: '';
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  min-height: 0.188rem;
  min-width: 0;
  border-radius: 0.625rem;
  background-color: var(--primary-color);
  transition: all 0.28s;
}

.list-items:hover::after {
  min-width: 100%;
}

.account-wrapper {
  display: none;
  gap: 2rem;
  margin-top: 2rem;
}

.social-media {
  padding: 0.8rem;
  color: var(--white-color);
}

.social-media .fab {
  max-width: 1.6rem;
  color: var(--white-color);
  transition: 0.4s;
}

.social-media .fab:hover {
  transform: translateY(-5px);
}

.social-media .fa-instagram:hover {
  color: #833ab4;
}

.social-media .fa-twitter:hover {
  color: #1da1f2;
}

.social-media .fa-github:hover {
  color: #ff501b;
}


/* Hero */

.hero {
  position: relative;
  margin-top: 1.875rem;
  max-width: 62.5rem;
  background-image: linear-gradient( to right top, #636363, #565656, #494949, #3c3c3c, #303030);
  background-attachment: fixed;
  border-radius: 0.5rem;
}

.hero .hero-image {
  display: block;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  mix-blend-mode: overlay;
}

.hero .hero-title {
  position: absolute;
  top: 15%;
  left: 7%;
  font-family: 'Croissant One', cursive;
  font-size: 5vw;
  letter-spacing: 0.125em;
  color: var(--primary-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.hero .hero-description {
  position: absolute;
  left: 7%;
  bottom: 10%;
  max-width: 80%;
  font-size: 2.8vmin;
  font-weight: 300;
  line-height: 2em;
  color: var(--white-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}


/* Bites Excess */

.bites-excess {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 9.375rem auto;
  min-width: 100%;
}

.bites-excess .excess {
  position: relative;
  margin: 0 auto;
  padding-left: 3rem;
  width: 100%;
  /* border-left: 1px solid var(--orange-soft); */
}

.bites-excess .excess:first-child::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: var(--orange-soft);
}

.bites-excess .excess:last-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: var(--orange-soft);
}

.excess .excesss-number {
  font-size: 4em;
  color: var(--orange-soft);
}

.excess .excess-title {
  margin: 0.25rem 0 0.5rem 0;
  font-weight: 2.3em;
  font-weight: 700;
  color: var(--dark-black);
}

.excess .excess-description {
  font-size: 1em;
  color: var(--blue-gray);
}


/* Main Content */

.section-title {
  font-family: 'Croissant One', cursive;
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

.line-style {
  font-family: 'Croissant One', cursive;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0 0.5rem;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 600;
}


/* Most Favorite Section */

.most-favorite {
  margin-top: 9.375rem;
  text-align: right;
}

.link-container {
  display: inline-block;
}

.link-container .fas {
  color: var(--primary-color);
  transition: 0.5s;
  margin-left: 0.4rem;
}

.link-container a.food-link {
  display: inline-block;
  padding: 0.563rem 0;
  text-decoration: none;
  font-size: 1.125em;
  font-weight: 600;
  color: var(--primary-color);
}

.food {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 0.75rem;
  margin-top: 1rem;
  text-align: left;
}

.food .card {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--white-color);
  background-color: var(--white-color);
  -webkit-box-shadow: 2px 10px 48px -15px rgba(209, 209, 209, 1);
  -moz-box-shadow: 2px 10px 48px -15px rgba(209, 209, 209, 1);
  box-shadow: 2px 10px 48px -15px rgba(209, 209, 209, 1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.food-image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transition: 0.4s;
  transform: scale(1.1);
}

.food-image:hover {
  transform: scale(1);
}

.food-description {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 40%;
  width: 100%;
  padding: 0 0.625rem;
  background-image: linear-gradient(to top, #202020, transparent);
}

.food-title {
  margin-bottom: 0.125rem;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--white-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 0.188rem;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0.25rem;
}

.location-icon {
  margin-right: 0.313rem;
  max-width: 0.7rem;
  color: var(--white-color);
}

.price {
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0.25rem;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--badge-color);
  max-width: max-content;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 1em;
  color: var(--white-color);
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0 43px 181px rgba(27, 26, 23, 0.07), 0 19.1268px 79.4118px rgba(27, 26, 23, 0.0456112), 0 13.3398px 53.9366px rgba(27, 26, 23, 0.035), 0 7.20765px 29.2138px rgba(27, 26, 23, 0.0243888);
  opacity: 0.9;
}


/* All Food Section */

.all-food {
  margin-top: 5.125rem;
}

.another-food {
  margin-bottom: 2.563rem;
}


/* Outlest Section */

.outlet {
  margin-top: 5.125rem;
  text-align: right;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.search-container label {
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 1em;
  color: var(--primary-color);
}

.search-container .search {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 28%;
  font-size: 1em;
  font-weight: 400;
  color: var(--dark-black);
  border-radius: 0.75rem;
  border: 2px solid var(--primary-color);
}

.search-container .search:focus {
  box-shadow: 0 0 3px 1px rgba(255, 131, 3, 1), 0 0 5px 2px rgba(248, 136, 23, 1);
  outline: none;
}

.link-container .outlet-link {
  display: none;
  text-decoration: none;
  padding: 0.563rem 0;
  text-align: right;
  font-size: 1.125em;
  font-weight: 500;
  color: var(--primary-color);
}

.outlet-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  column-gap: 1.25rem;
  margin-top: 1rem;
  row-gap: 0.8rem;
  text-align: left;
}

.outlet-container .outlet-card {
  position: relative;
  border-radius: 0.75rem;
  max-width: 33.688rem;
}

.outlet-container .outlet-card:first-child,
.outlet-container .outlet-card:nth-child(7),
.outlet-container .outlet-card:nth-child(13) {
  grid-column: 1 / span 2;
}

.outlet-container .outlet-card:nth-child(12),
.outlet-container .outlet-card:nth-child(18),
.outlet-container .outlet-card:nth-child(6) {
  grid-column: 3 / span 2;
}

.outlet-image-wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
}

.outlet-image-wrapper .outlet-image {
  position: relative;
  display: block;
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.75rem;
  transform: scale(1.1);
  transition: 0.4s;
}

.outlet-image-wrapper .outlet-image:hover {
  transform: scale(1);
}

.outlet-wrapper {
  padding: 0.188rem;
}

.outlet-name {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.188rem;
}

.outlet-name a {
  padding: 0.625rem 0;
  text-decoration: none;
}

.outlet-name:hover {
  text-decoration: underline;
}

.outlet-location {
  display: flex;
  align-items: center;
  margin-bottom: 0.188rem;
  font-weight: 400;
  color: var(--blue-gray);
}

.outlet-description {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: max-content;
}

.outlet-rating {
  display: flex;
  align-items: center;
  margin-top: 0.313rem;
  font-weight: 500;
  color: var(--gold-color);
}

.star {
  margin-right: 0.313rem;
  align-self: flex-start;
  margin-top: 0.063rem;
}


/* Choose Section */

.choose {
  margin: 9.375rem auto;
}

.choose-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.875rem;
  margin-top: 3.125rem;
}

.choose-outline {
  max-width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 0.75rem;
}

.choose-image {
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon( 50% 0%, 100% 0, 100% 43%, 100% 80%, 80% 100%, 32% 100%, 0 100%, 0 18%, 18% 0);
  border-radius: 0.5rem;
}

.choose-title {
  font-size: 1.875em;
}

.list-choose {
  margin-top: 1.25rem;
}

.list-choose-item {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.125em;
  color: var(--dark-black);
}

.arrow-icon {
  max-width: 1.625rem;
}


/* Footer Section */

.footer-container {
  border-top: 1px solid var(--border-accent);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3.125rem 0;
  max-width: 62.5rem;
  margin: 0 auto;
}

.footer-main {
  text-align: start;
}

.footer-title {
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.bites-description {
  font-size: 1.1em;
  font-weight: 500;
}

.list-footer {
  list-style: none;
}

.footer-item {
  margin-bottom: 0.313rem;
}

.copyright {
  text-align: center;
  padding-bottom: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
}